<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="DataProviderGroup" type="SimpleRiskApplication.Config.DataProviderSectionGroup, SimpleRiskApplication" >
      <section name="RandomBetDataProvider" type="SimpleRiskApplication.Config.RandomBetDataProviderSection, SimpleRiskApplication" />
    </sectionGroup>
  </configSections>

  <DataProviderGroup>
    <RandomBetDataProvider numberOfBets="10" maxBetBatchSize="100"/>
  </DataProviderGroup>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>