<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="BetDataProviders" type="SimpleRiskApplication.Config.BetDataProviders, SimpleRiskApplication"/>
  </configSections>

  <BetDataProviders>
    <RandomBetDataProviders>
      <RandomBetDataProvider id="0" numberOfBets="10" maxBetBatchSize="100"/>
    </RandomBetDataProviders>
    <CsvBetDataProviders>
      <CsvBetDataProvider file="Resources/CSVFiles/Settled.csv" settled="true" maxBetBatchSize="100"/>
      <CsvBetDataProvider file="Resources/CSVFiles/Unsettled.csv" settled="false" maxBetBatchSize="100"/>
    </CsvBetDataProviders>
  </BetDataProviders>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>